---
import Pagination from '@/components/ui/Pagination.astro';
import Layout from '@/layouts/Layout.astro';
import { trimExcerpt } from '@/lib/utils';
import { template } from '@/settings';
import { getCollection } from 'astro:content';

export async function getStaticPaths({ paginate }): Promise<Astro.getStaticPathsResult> {
    const arduinoEntries = await getCollection("arduino");

    const projects = arduinoEntries
        .map(project => ({
            title: project.data.title,
            date: project.data.date,
            badge: project.data.tags[0],
            excerpt: trimExcerpt(project.data.excerpt),
            slug: `${template.base}/arduino/${project.id}`,
        }))
        .sort((a, b) => new Date(b.date).getTime() - new Date(a.date).getTime());

    return paginate(projects, {
        pageSize: template.postPerPage,
    });
}

const { page } = Astro.props;
---

<Layout title="Arduino Projects">
    <div>
        <h1 class="text-3xl font-bold mb-8">Arduino Projects</h1>
        <div class="grid gap-8">
            {
                page.data.map(project => (
                    <article class="card bg-base-200 transition-all">
                        <div class="card-body">
                            <div class="flex justify-between items-start">
                                <h2 class="card-title text-xl">
                                    <a href={project.slug} class="hover:text-accent">
                                        {project.title}
                                    </a>
                                </h2>
                                <div class="badge badge-accent badge-outline p-4">
                                    {project.badge}
                                </div>
                            </div>
                            <time datetime={project.date} class="text-sm text-base-content/71">
                                {new Date(project.date).toLocaleDateString('en-US', {
                                    year: 'numeric',
                                    month: 'long',
                                    day: 'numeric',
                                })}
                            </time>
                            <p class="mt-4">{project.excerpt}</p>
                            <div class="card-actions justify-end">
                                <a
                                    href={project.slug}
                                    class="btn btn-sm btn-secondary text-secondary-content"
                                >
                                    Read More
                                </a>
                            </div>
                        </div>
                    </article>
                ))
            }
        </div>

        <div class="flex justify-center mt-8">
            <Pagination page={page} />
        </div>
    </div>
</Layout>